.__title {
   font-size:32px;
}
.__block {
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
}
.__item {
   max-width:300px;
   font-size:22px;
   background-color: #f5f5f5;
   
   border-radius:15px;
   margin:15px;
}
.item__title {
   text-align:center;
   font-size:18px;
   color:#555555;
   font-weight:700;
}
.item__description {
   text-align:center;
   color:#949494;
   font-weight:400;
}
.img{
   border-radius:15px;
width:300px;
height:200px;
}