.__title {
   font-size:32px;
}
.__block {
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
}
.__item {
   max-width:300px;
   font-size:22px;
   background-color: silver;
   border:1px solid black;
   border-radius:15px;
   margin:15px;
}
.item__title {
}
.item__description {
}
.img{
   border-radius:15px;
width:300px;
height:200px;
}