.container{
   display: flex;
   flex-direction:column;
   height:100vh;
}


.block__description{
max-width:300px;
}


.value__block {
}
.value__firstblock {
display:flex;
}
.value__secondblock {
   display:flex;
}

/*  */



.__title{
   text-align:center;
}

.block__item {
   display:flex;
   align-items:center;
   justify-content: space-between;
   margin-left:25px;
}

.value__block {
 margin-left:15px;
}
.value__firstblock {
display:flex;

}
.value__secondblock {
   display:flex;

}
.value__block {
   margin-right:15px;
}
.value__firstblock {
}
.value__measure {
   font-size:22px;
}
.value__price {
   font-size:22px;
}
.name__title{
   font-weight:500;
   font-size:22px;
}
@media(max-width:490px){
   .value__measure {
      font-size:16px;
   }
   .value__price {
      font-size:16px;
   }
   .name__title{
      font-size:20px;

   }
   .block__description{
      max-width:200px;
      }
}
@media(max-width:380px){
   .value__measure {
      font-size:14px;
   }
   .value__price {
      font-size:14px;
   }
   .name__title{
      font-size:18px;

   }
   .block__description{
      max-width:150px;
      }
}