.container{
   display: flex;
   flex-direction:column;
   height:100vh;
}

.__title {
   text-align:center;
}

.block__item {
   display:flex;
   align-items:center;
   justify-content: space-between;
   margin-left:15px;
   border-bottom:1px solid black;
}
.name__title{
   font-weight:500;
}

.value__measure {
   font-family:Roboto;
   font-size:16px;
   color:#333;
   font-weight:500;
   margin-left:5px;
}
.value__price {
   font-family:Roboto;
   font-size:16px;
   color:#333;
   font-weight:500;
   margin-left:5px;
}
.value__block {
}
.value__firstblock {
display:flex;
}
.value__secondblock {
   display:flex;
}
.title__text{
display:flex;
align-items:center;
}